.main-footer {
    position: relative;
    font-size: 0.875rem;
    font-weight: 600;
    color: #003b4c; 
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.main-footer-left-bg {
    background-color: #ffc603;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
}

.main-footer-right-bg {
    background-image: url('Image/loodgieter-klussen-huis.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 500px;
}

.main-footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.contact-info h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 500;
}
.contact-info a {
    color: #003b4c;
    text-decoration: none;
}
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}
.contact-list .contact-item {
    align-items: center;
    justify-content: center; 
    margin: 10px 0;
}
.contact-list li {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #003b4c;
}
.contact-list i{
    margin-right: 10px;
    color: white;
    font-size: 30px;
}
.main-footer-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #77898d;
    line-height: 1.875rem;
    font-size: 0.75rem;
    text-align: center;
}
.main-footer-bottom a {
    font-weight: 700;
    color: #77898d;
    text-decoration: none;
}
.main-footer-bottom a:hover {
    color: #003b4c;
}
.desktop-only {
    display: none;
}

.mobile-only {
    display: none;
}
@media screen and (max-width: 991px) {
    .main-footer-content {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 992px) {
    .desktop-only {
        display: inline;
    }
}
@media screen and (max-width: 991px) {
    .mobile-only {
        display: inline;
    }
}