body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("Image/Logo.Achtergrond.Website.png") no-repeat center center fixed;
    background-size: 55%;
    position: relative;
    min-height: 100vh;
}
.content-container {
    position: relative;
}
.custom-alert {
    max-width: 500px; /* Pas dit aan naar de gewenste breedte */
    margin: 0 auto; /* Centreer de alert horizontaal */
}
.candidates, .pinned-candidates {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*  3 kolommen met gelijke breedte */
    --gap-size: 20px;
    grid-column-gap: var(--gap-size);
    grid-row-gap: var(--gap-size);
    margin: 20px;
}
body a{
    text-decoration: none;
    color: black;
}
.Tekstbovenkandidaat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 32px;
    font-weight: 700;
    color: black
}
@media screen and (max-width: 991px){
    .candidates, .pinned-candidates {
      grid-template-columns: 1fr;
    }
    body{
        background-size: 85%;
    }
  }
  @media screen and (max-width: 850px){
    body{
        background-size: 100%;
    }
  }
.candidate {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
    z-index: 1;
}
.candidate button {
    background-color: transparent;
    border: none;
    float:right;
}
.candidate.Loodgieter {
    border-color: #003b4c; /* Kleur voor functie Loodgieter */
}
.candidate.Loodgieter:hover {
    background-color: #003b4c;
}
.candidate.Loodgieter:hover p{
    color: white;
}
.candidate.Loodgieter:hover h3{
    color: white;
}
.candidate.Elektromonteur {
    border-color: #ffc400; /* Kleur voor functie Elektromonteur */
}
.candidate.Elektromonteur:hover {
    background-color: #ffc400;
}
.candidate.Overig {
    border-color: #003b4c;
}
.candidate.Overig:hover {
    background-color: #003b4c;
}
.candidate.Overig:hover p{
    color: white;
}
.candidate.Overig:hover h3{
    color: white;
}
.candidate h2 {
    margin-top: 0;
}
.Toevoegen input, label, select {
    display: flex;
    margin: 5px;
}
.Buttons {
    padding: 10px 20px;
    margin-top: 10px;
}
.Buttons button{
    border: 3px solid #ffc400;
    border-radius: 18px;
}
.Buttons a{
    padding: 10px 20px;
    border: 3px solid #003b4c;
    border-radius: 18px;
    text-decoration: none;
    font-size: 14px;
}
.NaamFunctie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
#FilterButton {
    background-color: #ffc400;
    color: black;
    padding: 10px 20px;
    border-radius: 18px;
    border: 3px solid #ffc400;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
#FilterButton:hover {
    background-color: white;
    color: black;
}
#FilterButton2 {
    background-color: #003b4c;
    color: white;
    padding: 10px 20px;
    border-radius: 18px;
    border: 3px solid #003b4c;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
#FilterButton2:hover {
    background-color: white;
    color: black;
}
#WisFilter {
    background-color: #003b4c;
    color: white;
    padding: 10px 20px;
    border-radius: 18px;
    border: 3px solid #003b4c;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
#WisFilter:hover {
    background-color: white;
    color: black;
}
.Filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.filters {
    display: none; /* Hide by default */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 18px;
    padding: 12px 16px;
    z-index: 2;
    margin-top: 25px;
}
.filters select {
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.filters select:focus {
    outline: none;
    border-color: #003b4c;
}
.filters label, .filters select {
    display: flex;
    margin: 5px;
}
.filters button[type="reset"], .filters button[type="submit"], .filters button[type="button"] {
    background-color: #003b4c;
    color: white;
    padding: 10px 20px;
    border-radius: 18px;
    border: 3px solid #003b4c;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
.filters button[type="reset"]:hover, .filters button[type="submit"]:hover, .filters button[type="button"]:hover{
    background-color: white;
    color: black;
}
.fas.fa-thumbtack {
    color: black;
    cursor: pointer;
    z-index: 1;
}
