body {
    font-family: Arial, sans-serif;
}
.Terugknop {
    width : 200px;
    height: 55px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 3px #ffc400 solid;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.Terugknop:hover {
    background-color: #ffc400;
    color: white;
    cursor: pointer;
}
.Contactopnemenknop:hover {
    background-color: #ffc400;
    color: white;
    cursor: pointer;
}
.WijzigKnop {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 20px; 
    margin-right: 20px;
}
#WijzigButton {
    width: 200px;
    height: 55px;
    background-color: #ffc400;
    color: white;
    border-radius: 30px;
    border: 3px solid #ffc400;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px; /* Voeg wat ruimte toe tussen de knoppen */
}
#WijzigButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.Gegevenstabel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto; /* Plaats de tabel in het midden van de pagina */
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
    width: 80%;
    max-width: 1000px; /* Maximale breedte van de tabel */
    font-size: 16px;
    font-weight: 700;
}
.Gegevens {
    position: relative;
}
.Gegevens h3 {
    margin: 0;
    padding: 10px; /* Ruimte tussen de titel en de tabel */
    font-size: 16px;
    font-weight: 700;
}
.DeleteKnop {
    position: absolute;
    right: 10px;
    top: 10px;
}
.Gegevenstabel.Loodgieter {
    border-color: #ffc400; /* Kleur voor functie Loodgieter */
}
.Gegevenstabel.Elektromonteur {
    border-color: #003b4c; /* Kleur voor functie Elektromonteur */
}
.DeleteKnop button {
    background-color: transparent;
    border: none;
}
.DeleteKnop i {
    color: red;
    cursor: pointer;
    font-size: 46px;
}
#MailButton {
    width: 200px;
    height: 55px;
    background-color: #003b4c;
    color: white;
    border-radius: 30px;
    border: 3px solid #003b4c;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    bottom: 70px; /* Adjust this value as needed */
    right: 20px;
    z-index: 1; /* Ensure the MailButton appears above the Wijzigbutton */
}

#MailButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.PinKnop {
    position: absolute;
    right: 20px;
    
    background-color: #003b4c;
    color: white;
    border-radius: 30px;
    border: 3px solid #003b4c;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    width: 200px;
    height: 55px;
    bottom : 175px;
    
}
.PinKnop:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#copyButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#WijzigButton,
#copyButton,
#MailButton {
    width: 200px; /* Geef alle knoppen dezelfde breedte */
    height: 55px;
    margin-right: 10px; /* Voeg wat ruimte tussen de knoppen toe */
}
.referentie {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
    width: 80%;
    max-width: 1000px;
    font-size: 16px;
    font-weight: 700;
}
.referentie button {
    width: 125px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 3px solid #003b4c;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}
.referentie button:hover {
    background-color: #003b4c;
    color: white;
    cursor: pointer;
}
.referentie p {
    border: 2px solid #ccc; 
    padding: 10px;
    border-radius: 8px; 
    margin-bottom: 10px; 
}
.referentie form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.referentie h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.referentie input[type="text"],
.referentie textarea {
    width: 300px; 
    margin-bottom: 15px; 
    padding: 10px;
}
.fas.fa-trash-alt{
    color: red;
    cursor: pointer;
    float: right;
}
